@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;


}

body {
   
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(180deg,
        rgb(240, 233, 155) 100%,
            rgb(240, 233, 155) 100%,
            rgb(240, 233, 155) 100%);
}

p {
    font-family: Arial, Helvetica, sans-serif
}

.logo1 img {

    float: right;
    width: 155px;
    margin-left:200px;
}

.logo1 {
    transition: transform 0.0s ease;
  }
  
.logo1:hover {
    transform: scale(1.1);
  }

.container {

    max-width: 2000px;
    margin: 0 auto;
    

}



.menu {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg,
    rgb(255, 254, 252) 0%,
    rgb(255, 253, 247) 51%,
    rgb(240, 233, 155) 100%);
    
}

/*foto de perro y gato*/
.logo img {

    float: right;
    width: 400px;
    margin-left: 250px;
    transform: translateY(20px);

}

.logo {
    animation: zoom 5s infinite;
  }
  
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }




.menu .navbar ul li {

    float: left;
    margin-right: 75px;

}

.menu .navbar ul li a {

    font-size: 18px;
    padding: 40px;
    color: #000;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {

    color: #f3d449;
}


#menu {

    display: none;
}


.header-content {

    padding: 100px 0;
    display: flex;
    align-items: center;
   

}

.header-txt {

    width: 50%;
    padding-right: 100px;
}

/*titulo del inicio 1*/
.header-txt h1 {
    font-size: 45px;
    line-height: 65px;
    color: #121010;
    text-align: center;
    transform: translateY(5px);
    margin-left: 250px;
}

p {

    font-size: 23px;
    color: #424242;
    /*margin-bottom-espacio que hay entre el boton y el texto*/
    margin-bottom:35px;
    text-align: center;
    margin-left: 250px;
}


.btn-1 {
   
   display: inline-block;
   padding: 15px 40px;
   background-color: aliceblue;
   color: #000;
   border-radius: 25px;
   font-size: 25px;
   margin-left: 340px;
}

.btn-1:hover {
    background-color: #f3d449;
}


.footer {
   
    left: 0px;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background: linear-gradient(180deg,
    rgb(240, 233, 155) 0%,
    rgb(255, 253, 247) 51%,
    rgb(255, 251, 211) 100%);
}

.footer p {
    color: #000000;
    margin-left: 100px;
    font-size: 20px;

}


.about {
    padding: 5px 0;
    background-color: #f8f2f2;
}

.mascotas {
    display: flex;
    position: relative;
    transform: translateY(80px);
    }

.about-txt {
    width: 75%;
    margin-left: 350px;
    transform: translateY(-100px);
}

h2 {
    font-size: 80px;
    line-height: 90px;
    color: #f3d449;
    margin-bottom: 25px;
    margin-left: 400px;
    transform: translateY(-50px);

}