@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;


}

body {
   
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(180deg,
    rgb(240, 233, 155) 100%,
        rgb(240, 233, 155) 100%,
        rgb(240, 233, 155) 100%);
}
.logo1 img {

    float: right;
    width: 150px;
    margin-left:200px;
}

.logo1 {
    transition: transform 0.0s ease;
  }
  
.logo1:hover {
    transform: scale(1.1);
  }

.container {

    max-width: 2000px;
    margin: 0 auto;
    

}



.menu {

    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg,
    rgb(255, 254, 252) 0%,
    rgb(255, 253, 247) 51%,
    rgb(240, 233, 155) 100%);
    
}


.menu .navbar ul li {

    float: left;
    margin-right: 75px;

}

.menu .navbar ul li a {

    font-size: 18px;
    padding: 40px;
    color: #000;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {

    color: #f3d449;
}


#menu {

    display: none;
}


.header-content {

    padding: 100px 0;
    display: flex;
    align-items: center;
   

}

.header-txt {

    width: 50%;
    padding-right: 100px;
}

#Testimonios {
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.testimonial-heading h1{
    animation: zoom 5s infinite; }
    @keyframes zoom {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }

.testimonial-heading h1 {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    color: #000000;
    margin-left: 150px;
    transform: translateY(10px);

}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #000;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.perfil-imagen {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.perfil-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.perfil {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #000;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.opiniones {
    color: #000000;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.opiniones-clientes p{
    font-size:0.9rem;
    color: #000000;
}

.testimonial-box:hover{
    transform: translateY(-10px);
}

.footer {
    left: 0px;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background: linear-gradient(180deg,
    rgb(240, 233, 155) 0%,
    rgb(255, 253, 247) 51%,
    rgb(255, 251, 211) 100%);
    transform: translateY(150px);
    position: absolute;
}

.footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-left: 700px;
    font-size: 20px;
    transform: translateY(40px);

}